body {
  background: #1D1F2C;
}

#television {
  background: url("../assets/television.png") no-repeat;
  background-position: center;
  display: block;
  margin: auto;
  position: relative;
  top: 15px;
  width: 1024px;
  height: 768px;
  background-size: cover;
  z-index: 2;
}

#tvButton {
  background: url("../assets/tv_button.png") no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  position: absolute;
  width: 160px;
  height: 165px;
  right: 68px;
  top: 106px;
  transition: transform 1s;
}

.simContainer {
  position: absolute;
  width: 100%;
  top: 88px;
  right: 82px;
  z-index: 1;
}

.currentSim {
  background-position: center !important;
  background-size: contain !important;
  display: block;
  margin: auto;
  position: relative;
  width: 640px;
  height: 640px;
}

#simText {
  position: absolute;
  z-index: 3;
  color: black;
  display: block;
  width: 231px;
  font-family: sans-serif;
  top: 395px;
  left: 55px;
}