body {
  background: #1D1F2C;
}

#television {
  background: url("../assets/television.png") no-repeat;
  background-position: center;
  display: block;
  margin: auto;
  position: relative;
  top: 15px;
  width: 1024px;
  height: 768px;
  background-size: cover;
}